<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
{{ text_received }}
<ul>
<li><b>{{ text_order_id }}</b> {{ order_id }}</li>
<li><b>{{ text_date_added }}</b> {{ date_added }}</li>
<li><b>{{ text_order_status }}</b> {{ order_status }}</li>
</ul>

{{ text_product }}
<br>
<ul>
{% for product in products %}
<li>{{ product.quantity }}x {{ product.name }} ({{ product.model }})
{% if option %}
{% for option in product.option %}
	- {{ option.name }} {{ option.value }}
{% endfor %}
{% endif %}
</li>
{% endfor %} 
</ul>

{% if vouchers %}
<ul>
{% for voucher in vouchers %}
<li>1x {{ voucher.description }} {{ voucher.amount }}</li>
{% endfor %} 
</ul>
{% endif %}

  
{% if comment %}
{{ text_comment }}
<br>
<p>{{ comment }}</p>
{% endif %}
</body>
</html>