{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
<div class="container-fluid">
  <div class="pull-right">
    <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
    <h1>{{ heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
    </div>
    <div class="panel-body">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
          <li class="hide"><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-general">
            <ul class="nav nav-tabs hide" id="language">
              {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="status" id="input-status" class="form-control">
                      {% if status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
               <div class="form-group">
                <label class="col-sm-2 control-label" for="input-top"><span data-toggle="tooltip" title="{{ help_top }}">{{ entry_top }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if top %}
                      <input type="checkbox" name="top" value="1" checked="checked" id="input-top" />
                      {% else %}
                      <input type="checkbox" name="top" value="1" id="input-top" />
                      {% endif %}
                      &nbsp; Marque para exibir no topo da Loja. &nbsp; </label>
                    </div>
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="category_description[{{ language.language_id }}][name]" value="{{ category_description[language.language_id] ? category_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                    {% if error_name[language.language_id] %}
                    <div class="text-danger">{{ error_name[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="category_description[{{ language.language_id }}][meta_title]" value="{{ category_description[language.language_id] ? category_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                    {% if error_meta_title[language.language_id] %}
                    <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>
                {% for store in stores %}
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_keyword }}</label>
                  <div class="col-sm-10">
                    {% for language in languages %}
                    <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                      <input type="text" name="category_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if category_seo_url[store.store_id][language.language_id] %}{{ category_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                    </div>
                    {% if error_keyword[store.store_id][language.language_id] %}
                    <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                    {% endif %}
                    {% endfor %}
                    <span class="help-block">{{ text_keyword }}</span>
                  </div>
                </div>
                {% endfor %}
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-parent">{{ entry_parent }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="path" value="{{ path }}" placeholder="{{ entry_parent }}" id="input-parent" class="form-control" />
                    <input type="hidden" name="parent_id" value="{{ parent_id }}" />
                    {% if error_parent %}
                    <div class="text-danger">{{ error_parent }}</div>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                  <div class="col-sm-10">
                    <textarea name="category_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].description }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                  <div class="col-sm-10">
                    <textarea name="category_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].meta_description }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                  <div class="col-sm-10">
                    <textarea name="category_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ category_description[language.language_id] ? category_description[language.language_id].meta_keyword }}</textarea>
                    <span class="CountCaracteres"></span>
                  </div>
                </div>                
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                    <span class="help-block">Ordem que o Departamento irá ser exibido no Menu de Navegação (Padrão: 0 para ordem alfabética).</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane" id="tab-data">
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ entry_image }}</label>
              <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                <input type="hidden" name="image" value="{{ image }}" id="input-image" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-filter"><span data-toggle="tooltip" title="{{ help_filter }}">{{ entry_filter }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="filter" value="" placeholder="{{ entry_filter }}" id="input-filter" class="form-control" />
                <div id="category-filter" class="well well-sm" style="height: 150px; overflow: auto;">
                  {% for category_filter in category_filters %}
                  <div id="category-filter{{ category_filter.filter_id }}"><i class="fa fa-minus-circle"></i> {{ category_filter.name }}
                    <input type="hidden" name="category_filter[]" value="{{ category_filter.filter_id }}" />
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="form-group hide">
              <label class="col-sm-2 control-label">{{ entry_store }}</label>
              <div class="col-sm-10">
                <div class="well well-sm" style="height: 150px; overflow: auto;">
                  {% for store in stores %}
                  <div class="checkbox">
                    <label>
                      {% if store.store_id in category_store %}
                      <input type="checkbox" name="category_store[]" value="{{ store.store_id }}" checked="checked" />
                      {{ store.name }}
                      {% else %}
                      <input type="checkbox" name="category_store[]" value="{{ store.store_id }}" />
                      {{ store.name }}
                      {% endif %}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-column"><span data-toggle="tooltip" title="{{ help_column }}">{{ entry_column }}</span></label>
              <div class="col-sm-10">
                <input type="text" name="column" value="{{ column }}" placeholder="{{ entry_column }}" id="input-column" class="form-control" />
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab-design">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_layout }}</td>
                  </tr>
                </thead>
                <tbody>

                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left"><select name="category_layout[{{ store.store_id }}]" class="form-control" readonly disabled>
                      <option value=""></option>
                      {% for layout in layouts %}
                      {% if category_layout[store.store_id] and category_layout[store.store_id] == layout.layout_id %}
                      <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                      {% else %}
                      <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 

<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

<script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
 'source': function(request, response) {
  $.ajax({
   url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
   dataType: 'json',
   success: function(json) {
    json.unshift({
     category_id: 0,
     name: '{{ text_none }}'
   });

    response($.map(json, function(item) {
     return {
      label: item['name'],
      value: item['category_id']
    }
  }));
  }
});
},
'select': function(item) {
  $('input[name=\'path\']').val(item['label']);
  $('input[name=\'parent_id\']').val(item['value']);
}
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter\']').autocomplete({
 'source': function(request, response) {
  $.ajax({
   url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
   dataType: 'json',
   success: function(json) {
    response($.map(json, function(item) {
     return {
      label: item['name'],
      value: item['filter_id']
    }
  }));
  }
});
},
'select': function(item) {
  $('input[name=\'filter\']').val('');

  $('#category-filter' + item['value']).remove();

  $('#category-filter').append('<div id="category-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category_filter[]" value="' + item['value'] + '" /></div>');
}
});

$('#category-filter').delegate('.fa-minus-circle', 'click', function() {
 $(this).parent().remove();
});
//--></script>
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
<script type="text/javascript"><!--
{% for language in languages %}
$('input[name="category_description[{{ language.language_id }}][name]').stringToSlug({
  setEvents: 'keyup keydown blur',
  getPut: 'input[name="category_seo_url[0][{{ language.language_id }}]"]',
  space: '-',
  replace: '/\s?\([^\)]*\)/gi',
AND: 'e'
});
{% endfor %}

{% for language in languages %}
$('input[name="category_description[{{ language.language_id }}][name]').on('keyup', function() {
  $('input[name="category_description[{{ language.language_id }}][meta_title]').val($(this).val());
});
{% endfor %}


// Count e Limit catacteres - meta keywords
var atual = $('#input-meta-keyword1').val().length;
$(".CountCaracteres").text(atual + '/255 caracteres restantes.');

$(document).on("input", "#input-meta-keyword1", function() {
    
    var inicio = 0;
    var limite = 255;
    var informativo = "/"+limite+" caracteres restantes.";
    var caracteresDigitados = $(this).val().length;
    var caracteresAtuais = caracteresDigitados;    
    var caracteresRestantes = limite - caracteresDigitados;    

    if (caracteresRestantes <= 0) {
        var comentario = $("#input-meta-keyword1").val();
        $("#input-meta-keyword1").val(comentario.substr(0, limite));
        $(".CountCaracteres").text('255' + informativo);
    } else {
        $(".CountCaracteres").text(caracteresAtuais + informativo);
    }
});

//--></script>
{{ footer }}